<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/style/home.css" />
    <title>DiKa</title>
</head>

<body>
    <%- include('./layout/header.ejs'); %>

        <% if (postSuccess.length) { %>
            <p class="text-center text-success" id="postSuccess">
                <%-postSuccess%>
            </p>
            <% } %>
                <div class="container main">
                    <div class="row d-block">
                        <div class="col-sm-6 col-lg-6 mx-auto mt-2 p-4 border shadow-sm" id="post-status">
                            <img class="ml-3" width=40px height=40px src="<%=user.user_avatar%>" alt="" style="border-radius: 50px;">
                            <button type="button" id="btn-model-post" class="btn btn-outline-dark col-sm-10 col-md-10" data-toggle="modal" data-target="#statusModel">
                          Chào <%- user.user_lastname %> , Bạn đang nghĩ gì thế?
                          </button>
                        </div>
                        <div class="modal fade" id="statusModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tạo bài đăng mới</h5>
                                        </button>
                                    </div>
                                    <form action="/postStatus" method="POST" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <textarea class="form-control col-sm-12 " name="postContent" id="create-post-input" placeholder="Nội dung bài đăng" autocomplete="off" />
                                                </textarea>
                                                <label for="post-img" title="Chọn hình"><i class="fas fa-images mt-2"></i></label>
                                                <input type="file" name="postImg" class="d-none" id="post-img" />
                                                <span class="text-muted ml-2 imgName"></span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary col-sm-12">Đăng</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <% post.forEach((post) =>{%>
                            <div class="card col-sm-6 col-lg-6 mx-auto mt-4 shadow-sm post-frame">
                                <div class="card-body mt-3 p-0">
                                    <div class="card-title d-flex">
                                        <img id="post-avt" src="<%=post.user_avatar%>" alt="" width="50px" height="50px">
                                        <div class="post-detail ml-3">
                                            <h5 id="post-name">
                                                <%- post.user_firstname + " " + post.user_lastname %>
                                            </h5>

                                            <span class="post-time" id="post<%=post.post_id%>"><%-post.post_day %></span>
                                            <script>
                                                $(document).ready(function() {
                                                    let time = $('#post<%=post.post_id%>')
                                                    time.text(moment(time.text()).fromNow())
                                                })
                                            </script>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        <%- post.post_content %>
                                    </p>
                                    <% if(!post.post_image) {%>

                                        <% } else {%>
                                            <img src="img/<%=post.post_image%>" width="100%" height="300px" />
                                            <% } %>

                                </div>
                                <div class="card-footer text-center mt-2">
                                    <div class="post-action">
                                        <div class="col-sm-12 text-center d-flex">
                                            <a href="" class="col-sm-6 text-muted" id="like<%=post.post_id%>">
                                                <i class="far fa-thumbs-up like<%=post.post_id%>"></i>
                                                <span class="m-1 count-like<%=post.post_id%>"></span>
                                            </a>
                                            <a class="col-sm-6  show-cmt<%=post.post_id%>" data-toggle="collapse" href="#show-cmt<%=post.post_id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                <i class="far fa-comment"></i>
                                                <span class="m-1 count-comment<%=post.post_id%>"></span>
                                            </a>
                                        </div>
                                        <div class="collapse mt-3 pt-3 border-top" id="show-cmt<%=post.post_id%>">
                                            <% comment.forEach(cmt => { %>
                                                <div id="comment-main<%=post.post_id%>">
                                                    <% if(cmt.comment_postID == post.post_id) {%>
                                                        <div class="media text-left comment p-1">
                                                            <img class="mr-3 img-user-cmt" src="<%=cmt.user_avatar%>">
                                                            <div class="media-body">
                                                                <h6 class="mt-0">
                                                                    <%- cmt.user_firstname + " " + cmt.user_lastname %>
                                                                </h6>
                                                                <p>
                                                                    <%-cmt.comment_content%>
                                                                </p>
                                                                <span id="time<%=cmt.comment_id%>" class="text-muted"><%-cmt.comment_day%></span>
                                                                <script>
                                                                    $(document).ready(function() {
                                                                        let time = $('#time<%=cmt.comment_id%>')
                                                                        time.text(moment(time.text()).fromNow())
                                                                    })
                                                                </script>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                </div>
                                                <% }); %>
                                                    <div class="form-group mt-3">
                                                        <form class="form-inline <%-post.post_id%>">
                                                            <img src="<%=user.user_avatar%>" class="rounded-pill ml-1" width=50px height=50px>
                                                            <input placeholder="Nhập bình luận" id="input<%-post.post_id%>" type="text" class="form-control ml-3 col-sm-10 rounded-pill border comment-input" autocomplete="off">
                                                        </form>
                                                    </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                $(document).ready(function() {
                                    let id = "<%-post.post_id%>";
                                    let currentUser = '<%=user.user_id%>';
                                    //count comment ajax
                                    let loadCount = () => {
                                        $.ajax({
                                            url: '/getCountComment',
                                            method: 'GET',
                                            success: result => {
                                                result = JSON.parse(result);
                                                result.forEach(rs => {
                                                    if (rs.comment_postID == '<%-post.post_id%>') {
                                                        $('.count-comment<%=post.post_id%>').text(rs.countComment)
                                                    }
                                                })
                                            }
                                        })
                                    }
                                    loadCount();
                                    //post comment ajax
                                    $("." + id).submit(e => {
                                            e.preventDefault();
                                            $.ajax({
                                                url: "/postComment",
                                                method: "POST",
                                                data: {
                                                    userID: currentUser,
                                                    postID: id,
                                                    content: $('#input' + id).val()
                                                },
                                            })
                                            $('#comment-main' + id).prepend(
                                                ' <div class="media text-left comment">' +
                                                ' <img class="mr-3 img-user-cmt" src="<%=user.user_avatar%>">' +
                                                '  <div class="media-body">' +
                                                ' <h6 class="mt-0 ">' +
                                                '  <%- user.user_firstname + " " + user.user_lastname %>' +
                                                ' </h6>' +
                                                '  <p>' +
                                                '   ' + $('#input' + id).val() + '' +
                                                '  </p>' +
                                                '<span id="comment-time" class="text-primary">"' + new Date() + '"</span>' +
                                                '</div>' +
                                                '  </div>'
                                            )
                                            let time = $("#comment-time")
                                            time.text(moment(time.text()).fromNow())

                                            $('#input' + id).val("");
                                            loadCount();
                                        })
                                        //---//
                                    var countLike = () => {
                                        $.ajax({
                                            url: "/countLike",
                                            method: "GET",
                                            success: data => {
                                                data = JSON.parse(data)
                                                data.forEach(like => {
                                                    if (like.like_postID == id) {
                                                        $('.count-like<%=post.post_id%>').text(like.countLike)
                                                    }
                                                })

                                            }
                                        })
                                    }
                                    let getAllLike = () => {
                                        $.ajax({
                                            url: "/getAllLike",
                                            method: 'GET',
                                            success: data => {
                                                data = JSON.parse(data)
                                                data.forEach(like => {
                                                    if (like.like_postID == id && like.like_userID == currentUser) {
                                                        console.log(id)
                                                        $('.like' + id).addClass('likeActive')
                                                    }
                                                });
                                            }
                                        })
                                    }
                                    $('#like' + id).click((e) => {
                                        e.preventDefault();
                                        $.ajax({
                                            url: '/likeStatus',
                                            method: 'POST',
                                            data: {
                                                userLike: currentUser,
                                                postLike: id
                                            }
                                        })
                                        getAllLike();
                                        countLike();
                                    })
                                    getAllLike();
                                    countLike();
                                })
                            </script>

                            <%});%>

                    </div>
                </div>


</body>
<script>
    $(function() {
        $('#btn-model-post').click(() => {
            $('#create-post-input').text('')
        })

        $('#post-img').change(() => {
            let valueImg = $('#post-img').val(),
                imgSrc = valueImg.split('\\'),
                fileName = imgSrc[imgSrc.length - 1];
            $('.imgName').text(fileName);
        })

        setTimeout(() => {
            $('#postSuccess').animate({
                height: "hide"
            })
        }, 3000)
        $('[data-toggle="tooltip"]').tooltip()

        // post comment







    })
</script>

</html>