<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/style/message.css" />
    <title>Tin Nhắn</title>
</head>

<body>
    <%- include('./layout/header.ejs'); %>

        <audio class="d-none audio" src="/sounds/message.mp3" controls></audio>

        <div class="container-fluid main">
            <div class="row">
                <div class="col-sm-3 side" id="list-users">
                    <div class="user-header">
                        <p class="text-center">
                            Tin nhắn <i class="far fa-edit ml-1"></i>
                        </p>
                    </div>
                    <div class="list-group mt-2">
                        <p class="valueId d-none"></p>
                        <!-- component message items -->
                        <%- include('./components/messageItems.ejs') %>
                            <!-- component message items -->
                    </div>

                </div>
                <div class="col side" id="chat-main">
                    <!---->

                    <div class="intro-chat">
                        <p class="text-center">Xin chào</p>
                        <img class="img-fluid" id="img-intro" height=500 width=700 src="/img/background-chat.jpg" />
                    </div>
                </div>
                <div class="side" id="info-user">

                    <div class="text-center mt-4 d-block" id="display-info">

                    </div>
                </div>
            </div>
        </div>



</body>


<script>
    $(function() {
        $(".nav li ").removeClass('active');
        $('#message').addClass('active');
        $(window).resize(() => {
            let width = window.innerWidth;
            if (width <= 1000) {
                $('#info-user').hide()
                $('#chat-main').removeClass('col-sm-6 col-md-6').addClass('col-sm-9 col-md-9')
                $('.fa-caret-right').hide();
            } else {
                $('#info-user').show()
                $('#chat-main').removeClass('col-sm-9 col-md-9').addClass('col-sm-6 col-md-6')
                $('.fa-caret-right').show();
            }
        })
        let changeColorSend = () => {
            $('body').on('focusin', '#input-message', () => {
                $('.fa-paper-plane').css('color', '#1267FF')
            }).on('focusout', () => {
                $('.fa-paper-plane').css('color', 'grey')
            })
        }


        let handleMinute = (m) => {
                return (m < 10 ? "0" : "") + m;
            }
            // socket client
        var socket = io.connect();
        let sendMess = () => {
            $('#btn-send-message').click((e) => {
                e.preventDefault();
                const message = $('#input-message').val(),
                    sendUser = '<%=user.user_id%>',
                    receiveUser = $('.valueId').text(),
                    date = new Date(),
                    minutes = date.getMinutes(),
                    hour = date.getHours();
                let getTime = hour + ':' + handleMinute(minutes);

                if ($('#input-message').val().length != 0) {
                    socket.emit('chat', {
                        message: message,
                        sendUser: sendUser,
                        receiveUser: receiveUser,
                        time: getTime
                    })
                }

                $('#input-message').val("");
            })
        }

        let soundTyping = () => {
            const audio = new Audio('/sounds/typing.mp3');
            audio.play();
        }

        let typing = () => {
            let type;
            let receiveUser;
            $('body').on('focusin', '#input-message', () => {
                receiveUser = $('.valueId').text();
                type = true
                socket.emit('typing', {
                    type,
                    receiveUser
                })
            }).on('focusout', '#input-message', () => {
                type = !type;
                socket.emit('typing', {
                    type,
                    receiveUser
                })
            })
        }


        socket.on('typing', data => {
                if (data.type === true) {
                    scrollBottom();
                    // soundTyping();
                    $('#chat-box').append(
                            '<div id="friend-message" class="float-left ml-2 message typing">Đang soạn tin' +
                            ' <p class="type-items type1">.</p>' +
                            ' <p class="type-items type2">.</p>' +
                            ' <p class="type-items type3">.</p>' +
                            '</div>'
                        )
                        // $('.typing').removeClass('d-none').addClass('d-flex')
                } else {
                    $('.typing').removeClass('d-flex').addClass('d-none')
                }
            })
            //
        socket.emit('newUser', '<%=user.user_id%>')
            //
        socket.on('private-message', message => {
            scrollBottom();
            $('.typing').removeClass('d-flex').addClass('d-none')
            $('#sayHello').hide(500);
            if (message.sendUser == '<%=user.user_id %>') {
                $('#chat-box').append(
                    ' <div id="my-message"  class="d-block float-right text-right message">' +
                    '    <p>' + message.message + '</p>' +
                    '     <span>' + message.time + '</span>' +
                    '</div>'
                )
            } else {
                $('#chat-box').append(
                    ' <div id="friend-message" class="d-block float-left ml-2 message">' +
                    '    <p>' + message.message + '</p>' +
                    '     <span>' + message.time + '</span>' +
                    '</div>'
                )
            }
        })
        let toggle = () => {
            let status = true;
            $('body').on('click', '.fa-caret-right', () => {
                status = !status;
                if (!status) {
                    $('#info-user').hide();
                    $('#chat-main').removeClass('col-sm-6 col-md-6').addClass('col-sm-9 col-md-9')
                    $('.fa-caret-right').css({
                        'transform': 'rotate(180deg)',
                        'color': 'blue'
                    })
                } else {
                    $('#info-user').show();
                    $('#chat-main').removeClass('col-sm-9 col-md-9').addClass('col-sm-6 col-md-6')
                    $('.fa-caret-right').css({
                        'transform': 'rotate(0deg)',
                        'color': 'black'
                    })
                }
            })
        }
        var scrollBottom = () => {
            var scroll = $('#chat-box');
            scroll.animate({
                scrollTop: scroll.prop("scrollHeight")
            });
        }
        let pressEnter = () => {
            $('body').keypress(async(e) => {
                var code = e.keyCode || e.which;
                if (code === 13) {
                    await sendMess();
                    scrollBottom();
                }
            });
        }
        $('.list-group-item-action').click(() => {
                scrollBottom();
                $('#chat-main').addClass('col-sm-6')
                $('#info-user').addClass('col-sm-3')
            })
            // Implement function
        typing();
        changeColorSend();
        toggle();
        scrollBottom();
        pressEnter();
    })
</script>


</html>