<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/event/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href='/style/profile.css' />
    <title>Thông tin</title>
</head>

<body>
    <%- include('./layout/header.ejs'); %>

        <main class="container profile">
            <div class="row">
                <div class="image-profile col-sm-10 col-lg-10 mx-auto mb-3">
                    <img class="img-fluid h-100 w-100" id="cover-bg" src="<%=user.user_background%>" alt="">
                    <span id="change-cover-bg" data-toggle="modal" class="p-1" data-target="#update_cover-bg" title="Cập nhật ảnh bia">Thay đổi ảnh bìa</span>
                    <div class="avt-profile mx-auto text-center d-block">
                        <img id="avt" class='rounded-circle' src="<%=user.user_avatar%>" width="120px" height="120px" />
                        <i class="fas fa-camera" title="Cập nhật ảnh đại diện" data-toggle="modal" data-target="#update_avt"></i>
                        </input>
                        <h5>
                            <%- user.user_firstname +" " + user.user_lastname   %>
                        </h5>
                    </div>
                </div>
                <!---->
                <div class="modal fade" id="update_cover-bg" tabindex="-1" role="dialog" aria-labelledby="update_cover-bg" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Cập nhật ảnh bìa</h4>
                            </div>
                            <div class="modal-body text-center">
                                <form action="profile/uploadBg" method="POST" enctype="multipart/form-data">
                                    <label id="input-img-label" for="input-cover-bg">Tải ảnh lên</label>
                                    <input type="file" name="backgroundProfile" class="input-img" id="input-cover-bg" />
                                    <span id="cover-bg-selected" class="text-success d-none ml-3">Đã chọn 1 ảnh</span>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!---->
                <div class="modal fade" id="update_avt" tabindex="-1" role="dialog" aria-labelledby="update_avt" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Cập nhật ảnh đại diện</h4>
                            </div>
                            <div class="modal-body text-center">
                                <form action='/profile/uploadAvatar' method="post" enctype="multipart/form-data">
                                    <label id="input-img-label" for="input-avatar">Tải ảnh lên</label>
                                    <input type="file" name="avatarProfile" class="input-img" id="input-avatar" />
                                    <span id="avt-selected" class="text-success d-none ml-3">Đã chọn 1 ảnh</span>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex mx-auto col-sm-10">
                    <div class="per-profile col-sm-4 col-lg-4 mx-auto border">
                        <ul class="list-group list-group-flush mt-3">
                            <li class="list-group-item">Đến từ:
                                <strong> <%-user.user_address%></strong>
                            </li>
                            <li class="list-group-item">Giới tính:
                                <strong>  <%-user.user_gender%></strong>
                            </li>

                            <li class="list-group-item">Email:
                                <strong> <%-user.user_email%></strong>
                            </li>
                            <li class="list-group-item">Giới thiệu:
                                <strong> <%-user.user_bio%></strong>
                            </li>
                        </ul>
                        <button class=" col-sm-12 btn btn-light text-primary btn-update" data-toggle="modal" data-target="#update_profile"> Cập nhật</button>
                    </div>

                    <div class="modal fade" id="update_profile" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title">Cập nhật thông tin</h6>
                                </div>
                                <form action="/profile/updateProfile" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="">Đến từ:</label>
                                            <input type="text" name="address_update" class="form-control" value="<%=user.user_address%>" placeholder="Trống">
                                            <label for="">Giới tính</label>
                                            <div class="form-label-group mb-3 gender">
                                                <select class="custom-select" name="gender_update">
                                                <option value="">--Chọn--</option>
                                                <option name="nam" >Nam</option>
                                                <option name="nữ">Nữ</option>
                                                <option name="khác" >Khác</option>
                                              </select>
                                            </div>
                                            <label for="">Email: </label>
                                            <input type="text" name="email_update" class="form-control" value="<%=user.user_email%>" placeholder="Trống">
                                            <label for="">Giới thiệu: </label>
                                            <textarea type="text" name="bio_update" class="form-control" placeholder="Trống (tối da 100 kí tự)"><%=user.user_bio%></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="col-sm-4 btn btn-light" data-dismiss="modal">Huỷ</button>
                                        <button type="submit" class="col-sm-4 btn btn-outline-primary">Cập nhật</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="post-profile col-sm-7 col-lg-7 mx-auto ml-5 ">

                        <% post.forEach((post, index) =>{%>
                            <div class="col-sm-12 bg-white border shadow p-3 text-center mt-3 d-none" id="alert<%=index%>">
                                <p class="text">Bạn muốn xoá bài viết này?</p>
                                <button class="btn btn-dark ml-auto" id="btn-cancel<%=index%>">Không</button>
                                <button class="btn btn-danger ml-auto" id="btn-yes<%=index%>">Xoá</button>
                            </div>
                            <div class="card col-sm-12 mx-auto mt-4 shadow post-frame" id="post<%=index%>">
                                <div class="card-body mt-1 p-0">
                                    <div class="card-title d-flex">
                                        <img id="post-avt" src="<%=post.user_avatar%>" alt="" width="50px" height="50px">
                                        <div class="post-detail ml-3">
                                            <h5 id="post-name">
                                                <%-post.user_firstname + " " + post.user_lastname%>
                                            </h5>
                                            <span id="post-time">7:00</span>
                                        </div>
                                        <div class="ml-auto">
                                            <i class="fas fa-trash-alt" id="trash<%=index%>" title="Xoá bài viết"></i>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        <%-post.post_content%>
                                    </p>
                                    <% if(!post.post_image) {%>
                                        <% } else {%>
                                            <img src="img/<%=post.post_image%>" width="100%" height="300px" />
                                            <% } %>
                                </div>
                                <div class="card-footer text-center mt-4">
                                    <div class="post-action">
                                        <div class="col-sm-12 text-center d-flex m-0 p-1">
                                            <a href="" class="col-sm-6 text-muted" data-toggle="tooltip" data-placement="top" title="Chưa phát triển">
                                                <span>Thích</span>
                                            </a>
                                            <a class="col-sm-6 show-cmt text-muted" data-toggle="collapse" href="#show-cmt<%=index%>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                <span class="text-muted m-1 count-comment<%=post.post_id%>"></span><span>Bình luận</span>
                                            </a>
                                        </div>
                                        <div class="collapse mt-3 pt-3 border-top" id="show-cmt<%=index%>">
                                            <%comment.forEach((comment, index)=> {%>
                                                <div id="comment-main<%=post.post_id%>">
                                                    <%if(comment.comment_postID == post.post_id) {%>
                                                        <div class="media text-left p-2 comment">
                                                            <img class="mr-3 img-user-cmt" src="<%=comment.user_avatar%>" alt="Generic placeholder image">
                                                            <div class="media-body">
                                                                <h6 class="mt-0">
                                                                    <%-comment.user_firstname + " " + comment.user_lastname%>
                                                                </h6>
                                                                <p>
                                                                    <%-comment.comment_content%>
                                                                </p>
                                                                <span id="<%=index%>" class="text-muted"><%-comment.comment_day%></span>
                                                                <script>
                                                                    $(document).ready(function() {
                                                                        let time = $('#<%=index%>')
                                                                        time.text(moment(time.text()).fromNow())
                                                                    })
                                                                </script>
                                                            </div>
                                                        </div>
                                                        <%}%>
                                                </div>
                                                <%});%>
                                                    <div class="form-group mt-3">
                                                        <form class="form-inline <%-post.post_id%>">
                                                            <img src="<%=user.user_avatar%>" class="rounded-pill ml-1" width=40px height=40px>
                                                            <input id="input<%-post.post_id%>" placeholder="Nhập bình luận" type="text" class="form-control ml-3 col-sm-10 rounded-pill border border-dark">
                                                        </form>
                                                    </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $(function() {
                                    let loadCount = () => {
                                        $.ajax({
                                            url: '/getCountComment',
                                            method: 'GET',
                                            success: result => {
                                                result = JSON.parse(result);
                                                result.forEach(rs => {
                                                    if (rs.comment_postID == '<%-post.post_id%>') {
                                                        $('.count-comment<%=post.post_id%>').text(rs.countComment)
                                                    }
                                                })
                                            }
                                        })
                                    }
                                    loadCount()


                                    $(".<%-post.post_id%>").submit(e => {
                                            e.preventDefault();
                                            $.ajax({
                                                url: '/postComment',
                                                method: 'POST',
                                                data: {
                                                    userID: '<%-user.user_id%>',
                                                    postID: '<%-post.post_id%>',
                                                    content: $('#input<%-post.post_id%>').val()
                                                },
                                            })
                                            $("#comment-main<%=post.post_id%>").append(
                                                '<div class="media text-left p-2 comment">' +
                                                ' <img class="mr-3 img-user-cmt" src="<%=user.user_avatar%>" alt="Generic placeholder image">' +
                                                ' <div class="media-body">' +
                                                ' <h6 class="mt-0">' +
                                                ' <%-user.user_firstname + " " + user.user_lastname%>' +
                                                ' </h6>' +
                                                ' <p>' +
                                                '  ' + $("#input<%-post.post_id%>").val() + ' ' +
                                                '   </p>' +
                                                '<span id="time-comment" class="text-primary">"' + new Date() + '"</span>' +
                                                ' </div>' +
                                                ' </div>'
                                            )
                                            $(document).ready(function() {
                                                let time = $("#time-comment")
                                                time.text(moment(time.text()).fromNow())
                                            })
                                            loadCount();
                                            $('#input<%-post.post_id%>').val("")
                                        })
                                        // trash status
                                    let toggle = () => {
                                        $('#post<%=index%>').animate({
                                            opacity: 'toggle',
                                            height: 'toggle'
                                        }, 'fast');
                                    }

                                    $('#trash<%=index%>').click(e => {
                                        e.preventDefault();
                                        toggle()
                                        $('#alert<%=index%>').removeClass('d-none')
                                        $('#btn-cancel<%=index%>').click(() => {
                                            toggle()
                                            $('#alert<%=index%>').addClass('d-none')
                                        })
                                        $('#btn-yes<%=index%>').click(() => {
                                            $.ajax({
                                                url: 'trashStatus/<%=post.post_id%>',
                                                method: 'GET',
                                            })
                                            $('#alert<%=index%>').hide();
                                        })
                                    })
                                })
                            </script>

                            <% })%>
                    </div>

                </div>

        </main>
</body>

<script>
    $(document).ready(function() {
        $(".nav li").removeClass('active');
        $('#profile').addClass('active');

        $('.btn-default').click(() => {
            $('#avt_input').click();
        })

        $('#input-avatar').on('change', (e) => {
            $('#avt-selected').removeClass('d-none').addClass('d-block');
        })
        $('#input-cover-bg').on('change', (e) => {
            $('#cover-bg-selected').removeClass('d-none').addClass('d-block');
        })

        //---


    })
</script>


</html>